<log4net>
  <!-- RollingFile is set to be a RollingFileAppender -->
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%property{LogFolder}Log4Net.log" />
    <appendToFile value="true" />
    <datePattern value="yyyyMM" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <layout type="Log4Net.CustomPatternLayout, Log4Net">
      <conversionPattern value="%newline[%-5level]%date{HH:mm:ss} Method: {%method}%newline%message%newline" />
      <header value="%newline[BEGIN LOGGING AT %date]%newline" type="log4net.Util.PatternString" />
      <footer value="%newline[END LOGGING AT %date]%newline" type="log4net.Util.PatternString" />
    </layout>
  </appender>
  <!-- Set root logger level to DEBUG and its only appender to RollingFile -->
  <root>
    <level value="DEBUG" />
    <appender-ref ref="RollingFile" />
  </root>
</log4net>
